body {
    background-color: #e3e6f3;
}
.jumbotron{
    padding-top: 2rem;
}

.navbar {
    background-color: #e3e6f3 !important ;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
}

.bg-danger {
    background-color: #ff6c6c !important;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link  {
    color: black;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
    color: red;
}

.nama {
    color: rgb(255, 255, 255);
    font-weight: bold;
}


